# Environment Variables
.env

# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# MacOS
.DS_Store

# Streamlit
.streamlit/

# Logs
*.log

# Temporary Files
data/temp/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/