fastapi
uvicorn
python-multipart

streamlit
requests

sqlalchemy
psycopg2-binary
python-dotenv

pandas
numpy

pydantic
python-dateutil
pyyaml

langgraph
langchain
langchain-text-splitters
openai

pymupdf
pdfplumber

pillow
opencv-python-headless

paddlepaddle
paddleocr

watchdog

docling